{% extends 'base.html.twig' %}

{% block body %}

	<main class="pt-5">
		<section class="home position-relative mt-5">
			<div class="container d-flex flex-column w-75">
				<img src="img/webreathe.png" class="width-5 mt-5 mb-3"/>

				<h1 class="mt-1 ft-montserrat ftw-7 fts-20 mb-4">Site web de monitoring de modules IOT</h1>

				<div class="w-50">
					<p class=" ft-montserrat letter-spacing-3 ftw-4 fts-15 ">
						Depuis plusieurs années, les objets connectés à internet se multiplient, cependant les outils pour vérifier leur
																						fonctionnement et leur disponibilité restent rares. Le sujet de ce test est le développement d’un site web de
																						monitoring de modules IOT.
					</p>
				</div>

				<div class="w-50">
					<a href="https://naandev.com" class="btn btn-primary text-center text-white mt-3 rounded-pill d-block m-auto width-4" target="_blank" rel="noopener noreferrer">Naoufel Boukri</a>
				</div>

			</div>
			<img src="img/iot.png" class="background">
		</section>

		<section class="init p-5">
			<div class="container w-75">
				<h2 class="ft-montserrat ftw-7 fts-30 text-center">Penser à initialiser des modules pré-entrées</h2>
				<button class="btn btn-primary text-center mt-4 rounded-pill d-block m-auto">Initialisation des données</button>
			</div>
		</section>

		<section class="data p-5">

			<h2 class="ft-montserrat ftw-7 fts-30 text-center mb-3">Modules IOT</h2>

			<div class="buttons d-flex justify-content-end mb-3">
				<button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
				<a class="btn btn-primary ms-2 text-white">Nouveau module</a>
			</div>

			<table class="table table-responsive table-secondary table-striped table-hover">
				<caption class="fst-italic text-center"><i class="fa-solid fa-triangle-exclamation me-3"></i> Penser à initialiser les données par défaut avec le bouton dans la section précédente <span class="fw-semibold text-warning">(cette action effacera toutes les données saisies)</span></caption>
				<tr class="text-center table-primary">
					<th>carré</th>
					<th>ID Module</th>
					<th>Créé le</th>
					<th>Etat</th>
					<th>Statut</th>
				</tr>
				<tr class="text-center">
					<td>carré</td>
					<td><a href="" class="fw-bold text-primary text-decoration-underline">8723</a></td>
					<td>26.Aug.22</td>
					<td>Actif</td>
					<td>Fonctionnel</td>
				</tr>
				<tr class="text-center">
					<td>carré</td>
					<td>8293</td>
					<td>26.Aug.22</td>
					<td>Actif</td>
					<td>Fonctionnel</td>
				</tr>
			</table>
		</section>

	</main>
{% endblock %}
