
// Variables 

$dark : #1D272F ; 
$black : #1b1c1c ; 
$warning : rgb(230, 190, 10) ; 
$primary : #186AF6 ; 
$light-grey : #f2f2f2 ; 

// Fonctions
@mixin getFont($font){
    @import url('https://fonts.googleapis.com/css2?family=#{$font}:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

// Imports
@include getFont("Poppins") ; 
@include getFont("Montserrat") ; 




//---------------------- 

@for $i from 1 through 9{
    .ftw-#{$i}{
        font-weight: 100 * $i !important;
    }
}

@for $i from 1 through 10{
    .letter-spacing-#{$i}{
        font-weight: 1px * $i ;
    }
}

@for $i from 1 through 9{
    .width-#{$i}{
        width: 10% * $i ;
    }
}

@for $i from 8 through 25{
    .fts-#{$i}{
        font-size: 1px * $i ;
    }
}

.ft-poppins{
    font-family: "Poppins" , sans-serif ;
}
.ft-montserrat{
    font-family: "Montserrat" , sans-serif ;
}

a{
    color: $dark !important;
}

.home{
    height: 70vh ;
    .background{
        position: absolute;
        top: 20px ;
        left: 850px ;
        width: 500px ;
        z-index: -999; 
    cursor: auto ;
    touch-action: none ;
    
    @media screen and (max-width: 1400px) {
        left: 700px;
    }
    @media screen and (max-width: 1200px) {
        left: 600px;
    }
}
}

.init{
    background-color: $light-grey;
}

footer{
    background-color: $light-grey ;
    a{
        font-size: 12px!important ;
        color: #4B4944!important;
    }
}

li{
    list-style: none ;
}
