<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Webreathe - test
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-white">
		<header
			class="d-flex flex-row">
			<nav class="navbar navbar-dark bg-dark navbar-expend w-75 ps-5 pe-5">
				<div class="container ms-5 me-5 justify-content-start pt-2 pb-2">
					<div class="navbar-brand w-auto text-end me-4">
						<img src="img/logo.png" alt="webreathe" class="w-25"/>
					</div>

					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="{{ path("app_home") }}" class="nav-link active ft-poppins ftw-3 text-white">Accueil</a>
						</li>
					</ul>
				</div>
			</nav>

			<div class="w-25 bg-warning text-white d-flex justify-content-center align-items-center ft-poppins">
				TEST TECHNIQUE : Naoufel BOUKRI
			</div>
		</header>
		{% block body %}{% endblock %}
		<footer class="p-3">
			<div class="container w-75 d-flex flex-row align-items-center">
			
				<img src="img/webreathe_footer.png" alt="webreathe" class="w-100">

				<div class="contact mt-5 text-end w-100">
					<h3 class="fts-14 ftf-montserrat fw-bold text-uppercase text-dark">Informations</h3>
					<ul class="p-0 mt-3">
						<li class="mb-2">
							<a href="mailto:naoufelboukri@gmail.com">naoufelboukri@gmail.com</a>
							<i class="fa-solid fa-envelope ms-4"></i>
						</li>
						<li class="mb-2">
							<a href="tel:+330782228290">07 82 22 82 90</a> 
							<i class="fa-solid fa-phone ms-4"></i>
						</li>
						<li class="mb-2">
							<a href="files/CV_Boukri.pdf" target="_blank">Curriculum Vitae</a> 
							<i class="fa-solid fa-file ms-4"></i>
						</li>
					</ul>
				</div>

			</div>
		</footer>
	</body>
</html>
